.fa-heart {
  color: #f44336;
  font-size: 2rem;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}

.fa-trash {
  color: #333333;
  font-size: 2rem;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}

.fa-heart:hover, .fa-trash:hover {
  transform: scale(1.4);
}

span {
  font-size: 2rem;
  color: #777;
}
